## Create RFM scores from percentiles

In [11]:
# Import libraries
import numpy as np 
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
# from sklearn.preprocessing import StandardScaler  <--  this is to normalize data before applying Kmeans
from sklearn.cluster import KMeans

%matplotlib ipympl

In [12]:
# Import rfm_values
rfm = pd.read_csv(r'C:\Users\argyr\OneDrive\Υπολογιστής\Diplvm\Giftware dataset\rfm_values.csv')
rfm.head()

   Customer ID  Recency  Frequency  Monetary
0        12346    432.0       34.0    368.36
1        12347      3.0      222.0   4921.53
2        12348     76.0       51.0   2019.40
3        12349     19.0      179.0   4419.49
4        12350    311.0       17.0    334.40

### Create RFM score using *qcut()* function

In [13]:
# Calculate RFM scores
# Using pd.qcut() categorize each customer into 5 bins based on their value in each one of the metrics R,F,M
rfm["Recency_Score"] = pd.qcut(rfm["Recency"], 5, labels = [5, 4 , 3, 2, 1])
rfm["Frequency_Score"]= pd.qcut(rfm["Frequency"], 5, labels = [1, 2, 3, 4, 5])
rfm["Monetary_Score"] = pd.qcut(rfm['Monetary'], 5, labels = [1, 2, 3, 4, 5])
rfm.head()

,Customer ID,Recency,Frequency,Monetary,Recency_Score,Frequency_Score,Monetary_Score
0,12346,432.0,34.0,368.36,1,2,2
1,12347,3.0,222.0,4921.53,5,5,5
2,12348,76.0,51.0,2019.40,3,3,4
3,12349,19.0,179.0,4419.49,5,4,5
4,12350,311.0,17.0,334.40,2,1,2

In [16]:
rfm["RFM_Score"] = rfm["Recency_Score"].astype(str) + rfm["Frequency_Score"].astype(str) + rfm["Monetary_Score"].astype(str)
rfm.head(10)

,Customer ID,Recency,Frequency,Monetary,Recency_Score,Frequency_Score,Monetary_Score,RFM_Score
0,12346,432.0,34.0,368.36,1,2,2,122
1,12347,3.0,222.0,4921.53,5,5,5,555
2,12348,76.0,51.0,2019.40,3,3,4,334
3,12349,19.0,179.0,4419.49,5,4,5,545
4,12350,311.0,17.0,334.40,2,1,2,212
5,12351,376.0,21.0,300.93,2,2,2,222
6,12352,37.0,107.0,1889.21,4,4,4,444
7,12353,205.0,24.0,406.76,2,2,2,222
8,12354,233.0,58.0,1079.40,2,3,3,233
9,12355,215.0,35.0,947.61,2,2,3,223

In [15]:
rfmdata = rfm.to_csv(r'C:\Users\argyr\OneDrive\Υπολογιστής\Diplvm\Giftware dataset\rfm_scores_via_percentiles.csv', index=False)